#s-2a4f8956-241a-42e9-9395-6f145af0f77e > #backgroundBox {
  position: absolute;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Image_1 {
  position: absolute;
  width: 347.9999999999999px;
  height: 232.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Image_1 {
  box-shadow: none;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Paragraph_1 {
  box-shadow: none;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Image_2 {
  position: absolute;
  width: 278.9999999999999px;
  height: 44.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Image_2 {
  box-shadow: none;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Paragraph_2 {
  box-shadow: none;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Paragraph_2 span {
  color: #060606;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #060606;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Paragraph_3 {
  box-shadow: none;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Button_1 {
  position: absolute;
  width: 167.5000000000001px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Button_1 {
  box-shadow: none;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2a4f8956-241a-42e9-9395-6f145af0f77e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}