#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 > #backgroundBox {
  position: absolute;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Paragraph_1 {
  box-shadow: none;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Paragraph_1 span#rtr-s-Paragraph_1_2 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Paragraph_1 span#rtr-s-Paragraph_1_3 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Paragraph_1 span#rtr-s-Paragraph_1_4 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_1 input::-webkit-input-placeholder {
  color: #7F7B7B;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_1 input::-moz-placeholder {
  color: #7F7B7B;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_1 input:-moz-placeholder {
  color: #7F7B7B;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_1 input:-ms-input-placeholder {
  color: #7F7B7B;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_1 {
  position: absolute;
  width: 255.85416412353482px;
  height: 29.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_1 {
  box-shadow: none;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #363535;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #363535;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #363535;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #363535;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_2 input::-webkit-input-placeholder {
  color: #7F7B7B;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_2 input::-moz-placeholder {
  color: #7F7B7B;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_2 input:-moz-placeholder {
  color: #7F7B7B;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_2 input:-ms-input-placeholder {
  color: #7F7B7B;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_2 {
  position: absolute;
  width: 159.9999999999999px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_2 {
  box-shadow: none;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #363535;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #363535;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #363535;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #363535;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_3 input::-webkit-input-placeholder {
  color: #7F7B7B;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_3 input::-moz-placeholder {
  color: #7F7B7B;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_3 input:-moz-placeholder {
  color: #7F7B7B;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_3 input:-ms-input-placeholder {
  color: #7F7B7B;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_3 {
  position: absolute;
  width: 80.79167175292915px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_3 {
  box-shadow: none;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_3 .valign {
  vertical-align: middle;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #363535;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #363535;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #363535;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #363535;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Image_2 {
  position: absolute;
  width: 270.9999999999999px;
  height: 83.52731323242188px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Image_2 {
  box-shadow: none;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Button_1 {
  position: absolute;
  width: 167.5000000000001px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Button_1 {
  box-shadow: none;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_4 input::-webkit-input-placeholder {
  color: #7F7B7B;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_4 input::-moz-placeholder {
  color: #7F7B7B;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_4 input:-moz-placeholder {
  color: #7F7B7B;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_4 input:-ms-input-placeholder {
  color: #7F7B7B;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_4 {
  position: absolute;
  width: 255.85416412353499px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_4 {
  box-shadow: none;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_4 .valign {
  vertical-align: middle;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_4 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #363535;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #363535;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #363535;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #363535;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_5 input::-webkit-input-placeholder {
  color: #7F7B7B;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_5 input::-moz-placeholder {
  color: #7F7B7B;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_5 input:-moz-placeholder {
  color: #7F7B7B;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_5 input:-ms-input-placeholder {
  color: #7F7B7B;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_5 {
  position: absolute;
  width: 255.8541641235347px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_5 {
  box-shadow: none;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_5 .valign {
  vertical-align: middle;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_5 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #363535;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #363535;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #363535;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #363535;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 #s-Input_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2a7d3418-b17c-4cf1-8259-d4888ef9bc63 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}