#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f > #backgroundBox {
  position: absolute;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Paragraph_1 {
  box-shadow: none;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Rectangle_1 {
  position: absolute;
  width: 259.0px;
  min-height: 267.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Rectangle_1 {
  box-shadow: none;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #AECDAA;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Rectangle_1 > .borderLayer {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #20AF00;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #20AF00;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #20AF00;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #20AF00;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Button_1 {
  position: absolute;
  width: 155.0000000000001px;
  min-height: 41.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Button_1 {
  box-shadow: none;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f5a3d0b8-07a4-4e7c-9826-4eaf770b4a5f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}